.contactFromItem{
    padding: 15px;
}
.contactBtn{
    width: 200px;
    height: 54px;
    background: #191919 !important;
    border-radius: 27px !important;
    display: block;
    text-transform: uppercase;
    font-size: 15px !important;
    font-weight: 500 !important;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 50px;
}
.contactBtn:hover{
    background-color: #3D0082 !important ;
}

@media screen and (max-width:900px) and (min-width:451px) {
    .contactHeading{
        text-align: center !important;
    
    }
}
